.navbar{
    background-color:rgb(50,133,228);
       display: flex;
   position: -webkit-sticky;
   position: sticky;
   top: 0px;
   overflow: hidden;
   z-index: 1;
   height: min-content;
   height: 12%;
   width: 100%;
   border-radius: 25px;
   border-width: 5px;

    }
   .navbar a{ color:white;
       margin-inline: 15px;
       margin-left: 3%;
       text-decoration: none;
   }

.navbar h3:hover
{ 
   box-shadow: 0 0 10px #fff;
   border-radius: 8px;
   enable-background: 0px;
   height: 25px;
   transition: 50ms;
   margin-top: 19px;
}

    .img{
       
        background-color: black;
        margin-left: 35%;
        object-fit: cover;
    }
    .heading1{
        margin-left: 12%; 
    font-size: 30px;  }
    .para{
          font-size: 24px;
          text-align: justify;
        margin: 12%;
        margin-top:3%;
    }
    .links{ margin-top: -11%;
        margin-left:12%;
        font-size: 22px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .bgimg
    {    
      position: relative;  
     /* The image used */
  background-image: url("https://www.comstar.com.pk/assets/files/blog/future_technology_prospects.png");
  opacity: 0.9;
  object-fit: cover;
  /* Full height */
  height: 80%;
  width: 100%; 
  margin-top: 10px;
  border-radius: 30px;
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
    }
    .bgtxt
    {
    position:absolute;
    text-align: left;  
        color:rgb(172, 235, 243);
        top:340px;
        left:50px;
        font-size: large;
    }   
    .imb{
        margin-top: 20px;
        margin-left: 400px;
        height: 300px;
        width: 50%;
    }