
    .bgimg
    { 
     position: relative;  
    /* The image used */
    background-image: url("https://t4.ftcdn.net/jpg/01/15/13/75/240_F_115137528_PB2JaCyZC3wAwLit3miUXHXSztSgtPY8.jpg");
    /* height and width*/
    height: 80%;
    width: 100%; 
    margin-top: 10%;
    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }

     /* editing the box of members names */
    .a1{ color: rgb(17, 20, 22);
        font-size: 35px;
        background-image: linear-gradient(rgb(247, 246, 242), rgb(107, 224, 240));
       text-align: left;
        /* margin adding */
       margin-top: 3%;
       margin-left: 10%;
       margin-right: 10%;
        /* box and borders */
       border: 0.1px solid;
       box-shadow: 3px 3px rgb(16, 20, 24);
       }