.div1{

    display: flex;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    margin: 20px;
    padding:40px;
    align-items: center;
   
   
    flex-wrap: wrap;

}

.div2{

    
    align-items: center;
    justify-items: start;
    align-content: center;
    margin: 10px;
   justify-content: space-evenly;
    background-size: contain;
    background-size: cover;
    width: 200px;
    height: 200px;
    align-items: flex-start;
}
body{
    background: linear-gradient(to right, #23074d, #cc5333);
}
.khopdi{

    background-color: antiquewhite;
    border-radius: 20px;
    padding:1px;
    margin: 0 0px;
    display: flex;
    flex-wrap: wrap ;
    justify-content:space-evenly;
    overflow: hidden;
    
    background: linear-gradient(to right, #ff4b1f, #1fddff);
}